<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KPgoLoco.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B409E31BB627B8003371FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B409FC1BB627B8003371FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B40A071BB627B8003371FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
